<header class="header">

  <div class="header_content">
    <!-- Theme toggle at very top -->
    <label class="theme_changer">
      <input theme_toggle type="checkbox">
      <div class="button"></div>
    </label>

    <!-- Dual Logos -->
    <div class="header_logos">
      <a href="{{ '/' | relative_url }}" class="logo_link">
        <img src="{{ '/assets/img/cqy.png' | relative_url }}" alt="Qiuyu Chen" class="logo_personal">
      </a>
      <span class="logo_separator"></span>
      <img src="{{ '/assets/img/kailab.png' | relative_url }}" alt="KAI Lab" class="logo_lab">
    </div>

    <a class="header_circle" href="{{ '/' | relative_url }}">
      <img src="{{ site.user.pic | relative_url }}" alt="{{ site.user.picAlt }}">
    </a>
    <span class="header_name">{{ site.user.name }}</span>
    <span class="header_job">{{ site.user.job }}</span>
    <span class="header_mes">{{ site.user.message }}</span>

    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ '/' | relative_url }}">About me</a>
        </li>
      </ul>
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ '/about-kailab.html' | relative_url }}">About KAI Lab</a>
        </li>
      </ul>
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ '/publications.html' | relative_url }}">Publications</a>
        </li>
      </ul>
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ '/teaching.html' | relative_url }}">Teaching</a>
        </li>
      </ul>
    </nav>
  </div>

</header>
